
h1
{
	color: rgb(121, 201, 247); 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
background-position:center;
background-size:cover; 

}

#my_Canvas{background-color:steelblue;
 border-style: ridge;
border-width: 10px;


}
